* {
  box-sizing: border-box;
  background: var(--body-bg-color); 
}

html {
  font-size: 62.5%; /* 10px */
}

:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

li, a {
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center; 
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.perfil-image{
  border: 0.2rem solid #BB99DD;
  width: 20rem;
  border-radius: 99rem;
  padding: 0.5rem;
}

.perfil-name {
  margin-bottom: 2rem;
  color: #BB99DD;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}



.buttons  li a  {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
  align-items: center;
  justify-content: center;
  color: #BB99DD;
  width: 32.6rem;
  height: 4.9rem;
  border-radius: 0.4rem;

  border: 0.2rem solid #BB99DD;

  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  animation-name: example;
  animation-duration: 4s;
}

/* animação no botão quando é passado o mouse em cima */
.buttons  li a {
  transition: all 0.3s ease-in-out;
}

.buttons  li a:hover {
  transform: scale(1.05);
}
/*  */


.footer {
  margin-top: 5.2rem;
  display: flex;
  gap: 2.9rem;
}

/* animação quando é passado o mouse em cima */
.footer a img {
  transition: 0.3s;
}

.footer a img:hover {
  transform: translateY(-7px);
}
/*  */